@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	color: white;
	position: relative;
}
:root {
	/*--backgroundColor: rgb(42,170,22);
	--backgroundGradiente: linear-gradient(135deg, rgb(68 229 43) 74%, rgba(255,255,255,1) 100%);*/
	/* main
	--backgroundColor: #0ddc20;
	--backgroundImage: linear-gradient(160deg, #0ddc20 0%, #93e9c5 100%); */

	--primaryBgColor: rgb(0, 101, 34);
	--secondaryBgColor:  rgb(18, 211, 116);
	--backgroundImage: linear-gradient(170deg,rgba(0, 101, 4, 1.0) 0%, rgba(30, 125, 13, 1.0) 44%,
		rgba(41, 239, 137, 1.0) 98%);

	/*--backgroundGradiente: linear-gradient(160deg, rgba(42,170,22,1) 56%, rgba(255,255,255,1) 100%); */
	--container: 1400px;
}

nav {
	width: 100vw;
	height: 4rem;
	/*padding: 0 10px 0 10px;*/
	position: fixed;
	background-color: var(--primaryBgColor);
	background-image: var(--backgroundImage);
	box-shadow: 0 0.1rem 1.2rem rgba(12, 3, 27, 1.0);
	z-index: 9999;
}
.container {
	margin: 0 auto;
	
	max-width: var(--container);
	/*background: red;*/
}
.nav__menu {
	display: flex;
	line-height: 4rem;
	justify-content: space-between;
	align-items: center;
	/*background: black;*/
	
}
.nav__logo h2{
	font-size: 25px;
}
#nav__items {
	display: flex;
	/*flex-direction: row;*/
}
#nav__items li a{
	margin-right: 10px;
	color: #fff;
}
button {
	display: none;
}
/* ================== MEDIA QUERIES (MEDIUM DEVICES) =======================*/
@media screen and (max-width: 1024px) {
	nav {
		padding: 0 10px 0 10px;
	}
}
/* ================== MEDIA QUERIES (MEDIUM DEVICES) =======================*/
@media screen and (max-width: 768px) {
	button {
		display: inline-block;
		background: transparent;
		color: #fff;
		font-size: 30px;
		cursor: pointer;
	}
	#close__nav-btn {
		display: none
	}
	ul#nav__items {
		position: fixed;
		right: 10px;
		top: 4rem;
		flex-direction: column;
		display: none;
		perspective: 300px;
		bottom: 0;
	}
	li {
		width: 100%;
		opacity: 0;
		animation: flipNavItem 300ms ease forwards;
		transform-origin: top;
	}
	li:nth-child(2) {
		animation-delay: 200ms;
	}
	li:nth-child(3) {
		animation-delay: 400ms;
	}
	li:nth-child(4) {
		animation-delay: 600ms;
	}
	li:nth-child(5) {
		animation-delay: 800ms;
	}
	@keyframes flipNavItem {
		0% {
			transform: rotateX(90deg);	
		}
		100% {
			transform: rotateX(0deg);
			opacity: 1;
		}
	}
	ul li a{
		color:  #fff;
		height: 100%;
		padding: 0.1rem 1rem;
		margin-bottom: 0;
		display: block;
		border-radius: 0;
		background: var(--secondaryBgColor);
	}

}
.slider{
	position: relative;
	width: 100%;
	background: #2c3e50; /* darckblue */
	
}
.myslide{
	position: relative;
	display: block;
	overflow: hidden;
}
.myslide img {
	max-width: var(--container);
	height: 100vh;
	width: 100%;
	object-fit: cover;
}
.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #00a7ff; /* blue */
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
/* /2 */

/* javascript */
.active, .dot:hover{
	border-color: #00a7ff; /* blue */
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */

/* 3 */
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h1{
	color: #00a7ff; /* blue */
	font-size: 50px;
	margin-bottom: 20px;
}
.txt p{
	font-weight: bold;
	font-size: 20px;
}
/* /3 */

/* 4 */
img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
/* /4 */



/* 5 */
@media screen and (max-width: 800px){
	/*.myslide{
		height: 500px;
	}*/
	.txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt h1{
		font-size: 40px;
	}
	.txt p{
		font-size: 13px;
	}

}
/* /5 */

/* 6 */
@media screen and (max-width: 520px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	
}









